.menu {
    width: 90%;
    float: left;
    margin: 20px 0px 20px 20px;
    color: white;
    font-family: Georgia;
    font-weight: bold;
}
.menu div {
    margin-top: 10px;
}
.menu a {
    color: #065b80;
    text-decoration: none;
}
.menu a:hover {
    color: crimson;
    text-decoration: underline;
}
.page-box {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    margin: 0 auto;
    width: 80%;
}
.content-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px 0px 20px;
    min-height: 600px;
}
.sidebar-block {
    margin-right: 10px;
    flex: 1;
    min-height: 600px;
    background-color: #41ff5d;
}
.content {
    flex: 5;
    background-color: white;
    min-height: 600px;
}